przelewanka_tests/
speed_test/
bfs
test.out
test.sh
speed_test.sh
wzo
a.out
compile_tymek.sh
map_mtm2/
opcje
przelewanka-testy/
przelewanka/
test3.out
test4.out
test5.out
test6.out
test7.out
test8.out
test9.out
tymek_tests/
opcjeCpp
test26.out
test27.out
test28.out
test2short.out