przelewanka_tests/
speed_test/
bfs
test.out
test.sh
speed_test.sh
wzo
a.out
compile_tymek.sh
map_mtm2/
opcje
opcjeCpp
przelewanka-testy/
przelewanka/
test3.out
test4.out
test5.out
test6.out
test7.out
test8.out
test9.out